@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body,
html {
  font-family: "Press Start 2P", sans-serif;
  color: #920a85;
  text-shadow: 1px 2px rgb(97, 9, 105);
  background-color: black;
}
header {
  margin: 1%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.mainScreen {
  display: flex;
  flex-direction: row;
  width: 100vh;
  align-items: flex-start;
}

.mainImg {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2.5%;
  background-color: black;
}

#hangman {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  align-items: center;
  width: 65%;
  transition: opacity 0.9s;
  -webkit-transition: opacity 0.9s;
}
.img.dark {
  opacity: 0;
}
.playButton {
  outline: blue solid 1px;
  font-family: "Press Start 2P", sans-serif;
  color: white;
  text-shadow: 1px 2px blue;
  background-color: black;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}

.underlined {
  border-bottom: solid;
  width: 20px;
  margin: 5% 2%;
}
.keyboardLetterContainer {
  width: 30px;
}

.letterContainer {
  width: 80%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
#wordContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

#keyboardTop {
  display: flex;
}
#keyboardMid {
  display: flex;
}
#keyboardBottom {
  display: flex;
}
.errorUsername {
  display: none;
  color: white;
  font-weight: bold;
  background-color: rgb(223, 66, 66);
  padding: 0.5em;
  margin: 1em 0;
  text-align: center;
}

.display-block {
  display: block;
}
.title-username {
  text-align: center;
}
.label-username {
  text-align: center;
}
.input-username {
  max-width: 70%;
  margin: 1em auto;
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
  outline: blue solid 1px;
  font-family: "Press Start 2P", sans-serif;
  color: white;
  text-shadow: 1px 2px blue;
  background-color: black;
  cursor: pointer;
  text-align: center;
}
.button-username {
  padding: 1em 1.5em;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1em;
}
h3 {
  margin-top: 2rem;
}
h4 {
  margin-bottom: 1rem;
}

.timer {
  min-height: 3rem;
  height: 3rem;
}

.speaker {
  position: absolute;
  top: 95vw;
}

.contentArea {
  display: none;
}

.img-heart-pixel{
  width: 10%;
}
.scoreScreen {
  position: absolute;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: 1s linear;
  color: #920a85;
  text-shadow: 1px 2px rgb(97, 9, 105);
  background-color: black;
  padding: 2.5%;
  width: 100%;
  height: 90vh;
}

.scoreScreen-active {
  transform: translateX(0%);
  transition: 1s linear;
}

.showScores {
  position: fixed;
  visibility: hidden;
  background-color: black;
  color: white;
  bottom: 1rem;
  height: 2rem;
  width: 2rem;
}

.hideScores {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: black;
  color: white;
  height: 2rem;
  width: 2rem;
}

.current {
  margin-left: 2rem;
}
