.errorUsername {
    display: none;
    color: white;
    font-weight: bold;
    background-color: rgb(223, 66, 66);
    padding: 0.5em;
    margin: 1em 0;
    text-align: center;
}

.display-block {
    display: block;
}
.title-username{
    text-align: center;
}
.label-username{
    text-align: center;
}
.input-username{
    margin: 1em auto;
    padding: 1em;
    font-weight: bold;
    font-size: 1em;
}
.button-username{
    padding: 1em 6.5em;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1em;
}